#vpe {
  font-family: sans-serif;
}

.item {
  margin: 20px 0px;
  background: #d9d9d9;
  padding: 10px;
}

.key {
  font-size: .3em;
}

.title {
  font-size: 1.2em;
  font-weight: 100;
}

.help {
  color: darkgrey;
  font-size: .6em;
}

.unit {
  font-size: .8em;
}

h3 {
	border-bottom: 5px solid grey;
}